html,body {
    /*background-color:#0094ff;*/
    margin:0 auto;
    height:100%;
    overflow:hidden;
}

div.startPage{
    width:100%;
    position:absolute;
    left:0;
    top:50%;
    text-align:center;
    font-size:32px;
    font-weight:bolder;
    color:blue;
    vertical-align:middle;
    display:table-cell;
}

#gameCanvas{
    background-color:black;
    height:100%;
    overflow:hidden;
    width:100%;
}